# Meeting SDK key and secret, fetched from
# https://developers.zoom.us/docs/meeting-sdk/developer-accounts/#get-meeting-sdk-credentials
ZOOM_MEETING_SDK_KEY=uWp8H062QzmDtC7uzfNGg
ZOOM_MEETING_SDK_SECRET=G1ziamsYOIf97gbwjk9wSqzlt744HXNv
